@media (max-width: 600px) {
    .caixa-maior {
        width: 80%;
    }
    .input-tarefa{
        width: 75%;
        margin: 0 40px;
    }
    .botao{
        width: 20%;
        font-size: 65%;
        display: flex;
        justify-content: center;
        text-align: center;
        margin: 20px auto;
    }
    .botao:hover {
        font-size: 65%;
        width: 20%;
}
}